# Create DataFrame

In [3]:
index_x = ['a', 'b', 'c', 'd']

columns = ['one', 'two', 'three', 'four']

M = pd.DataFrame(np.random.randn(4,4), index=index_x, columns=columns)
M

        one       two     three      four
a  0.227063 -1.238476  0.260084 -0.693411
b -0.166195 -0.250198 -0.376468  0.116053
c  0.147651 -1.398541 -0.430007  1.121594
d  1.346145  0.743654  1.905355  1.237901

# Set a value using a row/column indicator

In [5]:
M.set_value('d','two',5.0)
M

c:\users\john maxi\anaconda3\envs\tensorflowenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

        one       two     three      four
a  0.227063 -1.238476  0.260084 -0.693411
b -0.166195 -0.250198 -0.376468  0.116053
c  0.147651 -1.398541 -0.430007  1.121594
d  1.346145  5.000000  1.905355  1.237901