# Convert strings to datetime for querying a Pandas DateTime index

In [1]:
data = pd.read_csv('data.csv', index_col=0)
data.index = pd.to_datetime(data.index)

In [3]:
data.head()

                    Label User ID  Engagement
Timestamp
2018-05-14 10:40:15  None    None   -2.343828
2018-05-14 10:40:16  None    None  -14.431959
2018-05-14 10:40:16  None    None   39.127761
2018-05-14 10:40:17  None    None   16.067326
2018-05-14 10:40:18  None    None    9.930275

In [4]:
import datetime
session = datetime.datetime.strptime('2018-05-16', '%Y-%m-%d').date()
data.loc[data.index.date==session].head()

                    Label User ID  Engagement
Timestamp
2018-05-16 09:43:13  test     jkm       0.344
2018-05-16 09:43:14  test     jkm       0.372
2018-05-16 09:43:15  test     jkm       0.414
2018-05-16 09:43:16  test     jkm       0.630
2018-05-16 09:43:17  test     jkm       0.516